@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.navBar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0 300px;
    overflow: hidden;
}

.navBar li {
    display: inline-block;
    margin: 0 30px;

}

.no-underline {
    text-decoration: none;
}

.no-underline:visited {
    color: white;
}

.title-box {
    padding: 6px;
    display: inline-block;
    background-color: #efcac3;
    border-radius: 5px;
    font-family: 'Calistoga', sans-serif;
}