@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    
    position: sticky; 
    z-index: 100;
    top: 0;
}

.navBar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navBar li {
    display: inline-block;
    margin: 0 30px;

}

.no-underline {
    text-decoration: none;
}

.no-underline:visited {
    color: white;
}

.title-box {
    padding: 6px;
    display: inline-block;
    background-color: #efcac3;
    border-radius: 5px;
    font-family: 'Calistoga', sans-serif;
}


.insta_logo {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}