.product-name {
    font-family: 'Georgia', serif;
}

.product-price {
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.product-grid {
    margin: 0 auto;
    padding: 0 5%;
}

body .product-title {
    font-family: 'Georgia', serif;
    text-decoration: none !important;
}

.no-outline, .no-outline * {
    text-decoration: none !important;
    outline: none !important;
  }

  .custom_container_for_products {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }