.navBar{
  height: 30vh;
  background-color: #cca398;
  color: white;
  display: flex;
  flex-direction: row;
}

.helvetica-font {
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 600;
}

.contact-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.contact-item {
  font-weight: 400;
  font-size: 30px;
}

.margin-left5 {
  margin-left: 5%;
}